body {
	font-family: 'system-ui';
	background-color: #D3E0EA;
}
h1 {
	text-align: center;
	margin-top: 5px;
	padding: 20px;
	
}
img {
	border: 2px #FFC069;
	border-radius: 50px;
}
#cari[type=text] {
    width: 120px;
    box-sizing: border-box;
    border: 1px solid #3DB2FF;
    border-radius: 10px;
    font-size: 15px;
    background-color: white; 
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 7px 25px 5px 30px;
	margin-left: 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.5s ease-in-out;
}
#cari[type=text]:focus {
    width: 100%;
}
header {
     text-align: center;
	 color: #232323;
	 background: #FDF5CA;
   }
.wm {
	color: white;
}
.tabel {
	border-collapse: collapse;
	border: 1px solid black;
	color: #444;
}
.tabel tr th{
    background: #DF2E2E;
    color: #fff;
    font-weight: normal;
}
 
.tabel, th, td {
	border: 1px solid black;
    padding: 8px 20px;
    text-align: center;
}
 
.tabel tr:hover {
    background-color: #f5f5f5;
}
 
.tabel tr:nth-child(even) {
    background-color: #f2f2f2;
}
a {
  text-decoration: none;
  color: #353535;
  display: block;
  transition: 0.3s;
}
a:hover {
  transition: 0.3s;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,41,121,1) 35%, rgba(0,159,255,1) 100%);
	
}

.title {
    display: inline-block;
    float: left;
    line-height: 50px;
}

.menu {
    display: inline-block;
    float: right;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding: 0 20px;
    display: block;
    line-height: 50px;
	color: white;
}

.menu li:hover{
    background-color: #B5DEFF;
}
.wrap{
  width: 80%;
  margin: 0 auto;
}
.tblmenubox {
    display: inline-block;
    float: right;
    line-height: 50px;
}
.abcmenu {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.menubox{
  display: none;
  visibility: hidden;
}
@media screen and (max-width:800px){
  .menu{
    display: none;
	
  }
.menubox{
    display: block;
    visibility: visible;
  }
.menu.sh {
    display: block;
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
}

.menu a:hover {
    color: #fff;
    background: #353535;
}

.menu ul li {
    display: block;
    text-align: center;
}
}
#lower {
	margin:auto;
	padding: 0px 0px 10px 0px;
	width: 100%;
	max-width: 2000px;
	background:#11324D;
	}
#lower-wrapper {
	background:#11324D;
	margin:auto;
	color: #C9CCD5;
	padding: 20px 0px 20px 0px;
	width:1000px;
	border:0;
	}
#lowerbar-wrapper {
	background:#11324D;
	float: left;
	margin: 0px 5px auto;
	padding-bottom: 20px;
	width: 32%;
	text-align:left;
	color:white;
	font: bold 12px Arial, Tahoma, Verdana;
	line-height: 1.6em;
	word-wrap: break-word;
	overflow: hidden;
	}
	
.lowerbar {
	margin: 0; 
	padding: 0;
	}
.lowerbar .widget {
	margin: 0; 
	padding: 10px 20px 0px 20px;
	}
.lowerbar h2 {
	margin: 0px 0px 10px 0px;
	padding: 3px 0px 3px 0px;
	text-align: left;
	border:0;
	color:white;
	text-transform:uppercase;
	font: bold 14px Arial, Tahoma, Verdana;
}
.lowerbar ul {
	color:#fff;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}
.lowerbar li {
	display:block;
	color:#fff;
	line-height: 1.6em;
	margin-left: 0 !important;padding: 6px;
	border-bottom: 1px solid #222;
	border-top: 1px solid #444;
	list-style-type: none;
	text-align: left;
}
	
.lowerbar li a 
{text-decoration:none; 
color: white;
}
.lowerbar li a:hover {
	text-decoration:underline;
}
.lowerbar li:hover {
	display:block;
	background: #222;
}

@media only screen and (max-width:768px); 
{
#lower, #lower-wrapper, #menubottom-container, #credits-wrap {
	overflow:hidden!important;
	width:100%!important;
}
#lowerbar-wrapper{
	overflow:hidden!important;
	width:95%!important
	;padding:5px
}
#credits p{
	text-align:center!important
}
}
a {
	color: white;
}
.box {
	width: 850px;
	height: 2900px;
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 0 auto;
	margin-top: 90px;
	margin-bottom: 60px;
	padding: 25px;
}
